@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("../fonts/Raleway-Bold.ttf");
}


body { 
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.presentation {
  height: 100vh;
}

.canvasDiv {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.presentationText {
  z-index: 1;
  font-size: 32px;
  color: white;
}

.presentationText > span {
  font-family: "Raleway-bold";
  color: #a579ed;
}

canvas{
  width: 100%;
  height: 100vh;
  background-color: #0f1224;
}

.buttonViewMyWork {
  text-align: center;
  line-height: 18pt;
  color: #fff;
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  font-size: 16pt;
  margin-top: 20px;
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
}

.buttonViewMyWork:hover {
  background-color: #a579ed;
  border-color: #a579ed;
}

.buttonViewMyWork > i{
  padding-left: 20px;
}

nav {
  left: 0;
  position: absolute;
  background: #161c22;
  border-bottom: 3px solid #a579ed;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

li {
  display: inline;
  margin-right: 20px;
}

li > a {
  font-family: "Raleway-semibold";
  color: white;
  font-size: 19px;
  text-decoration: none;
}

.about {
  padding-top: 8%;
  width: 80%;
  margin: auto;
}

.about-header {
  font-family: "Raleway-semibold";
  font-size: 42px;
}

.separator-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px
}

.skills {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
}

.skills:nth-child(4) {
  margin-top: 60px;
  margin-bottom: 40px;
}

.graph-skills {
  margin: 20px;
  width: 50%;
  height: 100%;
}

.name-skills {
  font-family: "Raleway-semibold";
  align-items: unset;
  text-align: right;
  margin-right: 20px;
  padding-top: 10px;
}

.name-skills > div {
  margin-bottom: 5px;
  height: 25px;
}

.skills-table {
  min-width: 400px;
  border-left: solid 1px;
  padding-top: 10px;
}

.skills-table > div {
  font-family: "Raleway";
  color: white;
  background-color: #c6a3ff;
  height: 25px;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 10px;
  font-size: 15px;
}

.who-am-i {
  margin: 20px;
  width: 50%;
}

.who-am-i > div > a {
  color: #a579ed;
  text-decoration: none;
}

.who-am-i > div:nth-child(2){
  font-family: "Raleway-semibold";
  font-size: 22px;
}

.who-am-i > div:nth-child(3){
  color: #616161;
  margin-top: 10px;
  font-size: 18px;
  width: 80%;
}

.profile-image > img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.icon-container{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #c6a3ff;
  margin: auto;
}

.icon-container > img{
  width: 75px;
  display: block;
  margin: auto;
  padding-top: 20%;
}

.skill-item {
  width: 25%;
  height: 15vw;
  text-align: center;
}

.skill-item > div:nth-child(2){
  font-family: "Raleway-semibold";
  font-size: 22px;
  padding-top: 20px;
}

.skill-item > div:nth-child(3){
  color: #616161;
  margin-top: 10px;
  font-size: 18px;
  padding: 0 20px;
}

.projects-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.project {
  width: 40%;
  height: 15vw;
  margin: 10px;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.project img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 106%;
  object-fit: cover;
}

.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.project-text {
  text-align: center;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.project-text:hover {
  opacity: 1;
}

.project-text > h3 {
  margin-top: 0;
  padding-top: 15%;
  font-family: "Raleway-bold";
  font-size: 20px;
}

.project-text > p {
  font-size: 15px;
}

.buttonViewProject {
  text-align: center;
    line-height: 18pt;
    color: #a579ed;
    border: 2px solid #a579ed;
    box-sizing: inherit;
    cursor: pointer;
    width: 50%;
    transition: all 0.5s;
    font-size: 12pt;
    margin: 20%;
    padding-top: 20%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
}

.buttonViewProject:hover {
  background-color: #a579ed;
  border-color: #a579ed;
  color: white;
}

.buttonViewProject > i{
  padding-left: 20px;
}